.ourResults { padding: 100px 0 78px;
    h2 { margin-bottom: 28px; }
}
.card { padding: 62px 40px 38px; aspect-ratio: 1/1.25; background: #fff;
    clip-path: polygon(12% 0, 100% 0, 100% 10%, 100% 90%, 91% 100%, 0% 100%, 0 92%, 0 8%);
}
.wrapper { filter: drop-shadow(0px -2.098px 15.732px rgba(0, 0, 0, 0.25)); }
.icon { width: 58px; margin-bottom: 36px; }
.upShape { width: 20%; }
.bottomShape { width: 17%; }

@media (min-width: 1200px) and (max-width: 1399px) {
    .card { padding: 62px 32px 38px; }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .card { padding: 44px 22px 30px; }
    .icon { margin-bottom: 22px; }
}

@media (max-width: 991px) {
    .ourResults { padding: 80px 0 60px; }
    .card { padding: 32px 16px 26px; }
    .icon { width: 44px; margin-bottom: 16px; }
    .list { padding: 16px 0; overflow: auto;
        > div { min-width: 200px;}
    }
    .wrapper { filter: drop-shadow(0px -1.5px 8px rgba(0, 0, 0, 0.25)); }
}

@media (max-width: 767px) {
    .ourResults { padding: 30px 0 20px; 
        h2 { margin-bottom: 8px; }
    }
    .list { padding: 16px 0; overflow: auto;
        > div { min-width: 186px; max-width: 186px; }
    }
}
