@import './../../../assets/scss/variables';

.mainHeader { padding: 24px 0; color: $light-color; font-weight: 500; background: linear-gradient(270deg, #000 0.52%, #011A60 104.39%); z-index: 10; 
    a:not(.btnNav):hover { color: $primary; }
}
.logo { width: 129px; }
.toggleIcon { width: 24px; margin-left: 22px; }
.nav {
    a { margin-right: 48px; 
        &:last-child { margin: 0; }
    }
    .outlineNav { background: $theme-dark !important; color: $primary !important; }
    .navWrap { margin-right: 22px; filter: drop-shadow( 1px  0px 0px $primary) drop-shadow(-1px  0px 0px $primary) drop-shadow( 0px  1px 0px $primary) drop-shadow( 0px -1px 0px $primary); }
}
.sidemenu { width: 446px !important; max-width: 80%; color: $light-color; background: linear-gradient(180deg, #4D6CBA 0%, #2A4793 47.92%, #05102E 89.06%);}
.menuBody { padding: 52px 58px; }
.menu {
    a { margin-bottom: 10px; }
}
.appIcon {
    img { height: 34px !important; width: auto !important;}
}
.appQR { width: 50px; }

@media (min-width: 768px) and (max-width: 991px) {
    .logo { width: 120px; }
    .nav {
        a { margin-right: 20px; }
        .navWrap { margin-right: 10px; }
    }
    .toggleIcon { margin-left: 16px; }
}

@media (max-width: 767px) {
    .logo { width: 100px; }
    .mainHeader { padding: 10px 0; }
    .menuBody { padding: 80px 24px 40px; }
}