$theme-color: #011A60;
$theme-dark: #010825;
$primary: #FFF01F;
$font-color: #524F53;
$head-color: #3C3C3C;
$font-light: #979797;
$light-bg: #F5F5F5;
$light-bg2: #F8F8F8;
$light-color: #FFF;
$dark-color: #000;
$border-color: #666;

