.form-group { margin-bottom: 24px; }
.form-label { color: $border-color; }
.form-control { padding: 16px; margin-bottom: 24px; border-color: $border-color; border-radius: 0; box-shadow: none !important; 
    &:focus { border-color: $theme-color;}
}
textarea.form-control { height: 120px; resize: none; }

.input-error .form-control{
    border: 2px solid red !important;
}

@media (max-width: 767px) {
    .form-control { padding: 12px 16px; }
}
