@import '../../../../assets/scss/variables';

.meetOurTeam { padding: 50px 0; color: $light-color; background: linear-gradient(311deg, #8A6CFA -53.03%, #343899 7.83%, #011A60 82.28%); }
.team { margin-bottom: 12px; width: 270px; margin-right: 70px; }
.teamPic { margin-bottom: 32px; }
.teamPic img { aspect-ratio: 1; object-fit: cover; }

@media (max-width: 1199px) {
    .team { width: 240px; margin-right: 50px; }
}

@media (max-width: 991px) {
    .team { width: 220px; margin-right: 40px; }
}

@media (max-width: 767px) {
    .meetOurTeam { padding: 42px 0 32px; }
    .team { width: 180px; margin-right: 24px; }
    .teamPic { margin-bottom: 24px; }
}