@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

.contactBlock { padding: 10px; box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.03); border-radius: 10px; }
.contactDetails { padding: 40px; color: $light-color; background: linear-gradient(311deg, #8A6CFA -53.03%, #343899 7.83%, #011A60 82.28%); border-radius: 10px; }
.formBlock { padding: 30px 84px; }
.submit { width: 180px; }
.shape { width: 208px; }
.icon { width: 24px; }

@media (min-width: 992px) and (max-width: 1199px) {
    .formBlock { padding: 30px 64px; }
}

@media (max-width: 991px) {
    .shape { width: 140px; }
    .formBlock { padding: 30px 24px; }
}

@media (max-width: 767px) {
    .contactBlock { padding: 0px; box-shadow: none; }
    .formBlock { padding: 0 12px; }
    .submit { width: 100%; clip-path: polygon(4% 0, 100% 0, 100% 10%, 100% 79%, 95% 100%, 0% 100%, 0 94%, 0 20%); }


}